body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

#app {
  height: 100vh;
}

.window-drag {
  -webkit-app-region: drag;
}

.window-no-drag {
  -webkit-app-region: no-drag !important;
}
